*{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    height: 100vw;
    display: flex;
    flex-direction: column;
    
}